.top-right-img {
        position: absolute;
        top: 20px;
        left: 50px;
        width: 200px; /* Ajusta el tamaño según lo necesites */
        height: auto;
        z-index: 10;
    }

        body {
            background-image: url(img/Captura\ de\ pantalla\ 2025-08-09\ 124837.png);
            background-size: cover ;
            background-position: center 10;
            background-repeat: no-repeat;
            background-color: #010D17;
        }
    
        .texto-inicial{
            position: absolute;
            top: 20%;
            left: 85%;
            transform: translate(-50%, -50%);
            color: rgb(255, 255, 255);
            font-size: 15px;
            text-align: center 10px;
            z-index: 5;
            font-family: JejuGothic;
        }


    
        .personajes{
            position: absolute;
            top: 82%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgb(255, 239, 11);
            font-size: 50px;
            text-align: center 10px;
            z-index: 5;
            font-family: jaro
        }


    
        .nombres{
            position: absolute;
            top: 95%;
            left: 18%;
            transform: translate(-50%, -50%);
            color: rgb(18, 223, 35);
            font-size: 50px;
            text-align: center 10px;
            z-index: 5;
            font-family: jaro
        }

        .disponible {
            position: absolute;
            top: 69%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgb(255, 255, 255);
            font-size: 50px;
            text-align: center 10px;
            z-index: 5;
            font-family: jaro;
            background-color: rgba(6, 253, 233, 0.712); /* Fondo semitransparente */
            padding: 10px; /* Espaciado interno */
            border-radius: 10px; /* Bordes redondeados */
        }
        .milan {
            position: absolute;
            top: 105%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px; /* Ajusta el tamaño según lo necesites */
            height: auto;
            z-index: 5;
        }
        .texto-personaje{
             position: absolute;
            top: 115%;
            left: 200px;
            right: 60%;
            transform: translate(-50%, -50%);
            color: rgb(255, 255, 255);
            font-size: 20px;
            text-align: center 10px;
            height: auto;
            z-index: 5;
        }
        .sombra{
             position: absolute;
            top: 90%;
            left: 85%;
            transform: translate(-50%, -50%);
            width: 200px; /* Ajusta el tamaño según lo necesites */
            height: auto;
            z-index: 5;

        }
        .buton-1{
             position: absolute;
            top: 102%;
            left: 85%;
            transform: translate(-50%, -50%);
            color: rgb(255, 255, 255);
            font-size: 50px;
            text-align: center 10px;
            z-index: 5;
            font-family: jaro;
            background-color: rgba(255, 0, 128, 0.712); /* Fondo semitransparente */
            border-radius: 10px; /* Bordes redondeados */
        }
        .amigos{
             position: absolute;
            top: 113%;
            left: 85%;
            transform: translate(-50%, -50%);
            width: 200px; /* Ajusta el tamaño según lo necesites */
            height: auto;
            z-index: 5;
        }
 .buton-2{
             position: absolute;
            top: 125%;
            left: 85%;
            transform: translate(-50%, -50%);
            color: rgb(255, 255, 255);
            font-size: 50px;
            text-align: center 10px;
            z-index: 5;
            font-family: jaro;
            background-color: rgba(255, 0, 128, 0.712); /* Fondo semitransparente */
            border-radius: 10px; /* Bordes redondeados */
        }
        .objetivos{position: absolute;
            top: 135%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgb(255, 239, 11);
            font-size: 50px;
            text-align: center 10px;
            z-index: 5;
            font-family: jaro
        }

        .info-1{
             position: absolute;
            top: 145%;
            left: 20%;
            transform: translate(-50%, -50%);
            color: rgb(255, 0, 0);
            font-size: 20px;
            text-align: center 10px;
            height: auto;
            z-index: 5;
        }

.info-2{
             position: absolute;
            top: 145%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgb(255, 0, 0);
            font-size: 20px;
            text-align: center 10px;
            height: auto;
            z-index: 5;
        }

        .info-3{
             position: absolute;
            top: 145%;
            left: 80%;
            transform: translate(-50%, -50%);
            color: rgb(255, 0, 0);
            font-size: 20px;
            text-align: center 10px;
            height: auto;
            z-index: 5;
        }
.globo{
    position: absolute;
            top: 160%;
            left: 20%;
            transform: translate(-50%, -50%);
            width: 100px; /* Ajusta el tamaño según lo necesites */
            height: auto;
            z-index: 5;

}
.sombra-blanca{
    position: absolute;
            top: 160%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 200px; /* Ajusta el tamaño según lo necesites */
            height: auto;
            z-index: 5;

}
.gorro{
    position: absolute;
            top: 160%;
            left: 80%;
            transform: translate(-50%, -50%);
            width: 200px; /* Ajusta el tamaño según lo necesites */
            height: auto;
            z-index: 5;
}
.texto-abajo{ position: absolute;
            top: 180%;
            left: 55%;;
            transform: translate(-50%, -50%);
            color: rgb(255, 255, 255);
            font-size: 29px;
            text-align: center 10px;
            height: auto;
            z-index: 5;
        }
.listo{position: absolute;
            top: 190%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgb(255, 239, 11);
            font-size: 50px;
            text-align: center 10px;
            z-index: 5;
            font-family: jaro
        }
.gorro-bg {
    position: absolute;
    top: 130%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 400px; /* Ajusta el tamaño según lo necesites */
    height: auto;
    z-index: 1;
}
.regalo {
    position: absolute;
    top: 100%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 500px; /* Ajusta el tamaño según lo necesites */
    height: auto;
    z-index: 1;
}
        
.vaso {
    position: absolute;
    top: 160%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 400px; /* Ajusta el tamaño según lo necesites */
    height: auto;
    z-index: 1;
}

.regalo-2 {
    position: absolute;
    top: 190%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 350px; /* Ajusta el tamaño según lo necesites */
    height: auto;
    z-index: 1;
}
